{% extends "base.html.twig" %}

{% block body %}

	<section class="row article">
		<article class="card">
			<h2 class="nomproduit">{{ evenement.titre }}
			</h2>
			<div class="metadata">
				Catégorie
				{{ evenement.categorie.titre }}</div>
			<div class="content">
				<img src="{{ evenement.image }}" class="imageshow" alt="Image du produit">
				<br>
				{{ evenement.description|raw }}
						<p class="card-text text-end fw-bold">Durée de l'evenement :{{ evenement.duree|date('H:i:s')  }}</p>
						<p class="card-text text-end fw-bold">Date de l'evenement :{{ evenement.date|date('d/m/Y')   }}</p>
				{% if is_granted('ROLE_ORGA') or is_granted('ROLE_ADMIN')%}
				<a href="{{ path('edit_evenement', {id: evenement.id}) }} " class="card-link btn btn-primary">Modifier le produit</a>
				{% endif %}
			</div>
		</article>
	</section>

	<h2 class="mx-auto m-3">Commentaires</h2>
	<section id="commentaire" class="col-md-10 mx-auto">
		{% for commentaire in evenement.commentaires %}
			<div class="comment">
				<div class="row">
					<div class="col-md-3">
					<a href="{{ path('user_profil', {id: commentaire.user.id}) }}">{{commentaire.user.username}}</a>
						(<small>{{ commentaire.createdAt|date('d/m/Y à H:i:s') }}</small>)
					</div>
					<div class="col-md-9">
						{{ commentaire.contenu|raw }}
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}
	</section>

	{{ form_start(formCommentaire) }}
	{{ form_row(formCommentaire.contenu, {
    'attr': {
        'placeholder': "Commentaire"
    }
}) }}
	<button type="submit" class="btn btn-primary" label: "Valider">
	<i class="fas fa-share"></i>
	{{ form_end(formCommentaire) }}

{% endblock %}
