{% extends "base.html.twig" %}

{% block body %}

	<section class="row article">
		<article class="card profilcard">
			<h2>Nom d'utilisateur : {{ user.username }}
			</h2>
			<div class="content">
			<h2>Nom : {{ user.nom }}
			</h2>
			<h2>Prénom : {{ user.prenom }}
			</h2>
			</div>
		</article>
		<div>
		<h1 class="text-center mx-auto m-3">Produits de {{ user.username }} ({{user.evenements|length}})</h1>
				{% for evenement in user.evenements %}
				<article class="card produitprofil" >

			<h2 class="profilnomproduit"> {{ evenement.titre }} </h2>	
			<div class="metadata">
			<div class="content">
				<img src="{{ evenement.image }}" class="imageprofil" alt="Image du produit">
				<h3 class="profildescriptionproduit">{{ evenement.description|raw }}
				</h3>
						<p class="card-text text-end fw-bold">Durée de l'evenement :{{ evenement.duree|date('H:i:s')  }}</p>
						<p class="card-text text-end fw-bold">Date de l'evenement :{{ evenement.date|date('d/m/Y')   }}</p>
				<a href="{{ path('show_evenement', {id: evenement.id}) }}" class="btn btnvoir btn-primary  ">voir</a>
			</div>
		</article>
			{% endfor %}
				<h1 class="text-center mx-auto m-3">Commentaires de {{ user.username }} ({{user.commentaires|length}})</h1>
	<section id="commentaire" class="col-md-10 mx-auto">
		{% for commentaire in user.commentaires %}
			<div class="comment">
				<div class="row">
					<div class="col-md-3">
					<p>Evènement :{{ commentaire.evenement.titre }}</p>
					<p>Commentaire : {{ commentaire.contenu|raw }}</p>
						<p>Date : (<small>{{ commentaire.createdAt|date('d/m/Y à H:i:s') }}</small>)</p>
					</div>
				</div>
			</div>
			<hr>
		{% endfor %}
	</section>
		</div>
	</section>
{% endblock %}
